.ice-icon{
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    overflow: hidden;
    top: 3px;
}
.folder-sm{
    width: 18px;
    height: 18px;
    background-image: url('../../assets/image/icon/sm/sm_folder.png')
}
.folder-lg{
    width: 48px;
    height: 48px;
    background-image: url('../../assets/image/icon/lg/lg_folder.png')
}